<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask-form</title>
</head>
<body>
    <main>
        <h1>FORMULAIRE</h1>
        <form method="POST" action="/dashboard">
            <label for="firstname">
                prénom
                <input id="firstname" name="firstname" />
            </label>

            <label for="lastname">
                nom
                <input id="lastname" name="lastname" />
            </label>

            <input type="submit" value="envoyer" />
        </form>
    </main>
</body>
</html>